@charset "UTF-8";

body {
    background-color: rgba(0, 0, 255, 0.527);
}

header > h1 {
    color: white;
    text-align: center;
}

section {
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    background-color: white;
    margin: auto;
    padding: 15px;
    width: 500px;
}

div {
    text-align: center;
}

section > h1 {
    text-align: center;
}

footer > p {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 15px;
}