@charset "UTF-8";

body {

}

header > h1 {
    text-align: center;
}

section {
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    background-color: white;
    margin: auto;
    padding: 15px;
    width: 500px;
}

footer > p {
    text-align: center;
}